.custom-tab{
    
  
    background-color:inherit;
    color: white;
    width: 450px;

   
    }
  
  /* .tab-content{
    
  } */
  .nav-link {
    padding: 10px;
    font-size: 14px;   
    width:350px;
    text-align: center;




   
  }
  